.app-footer {
  background-color: #f5f5f5;  
  color: #444444;             
    padding: 1rem 2rem;
  text-align: center;          
  font-size: 0.9rem;
  border-top: 1px solid #e0e0e0; 
  width: 100vw;
  box-sizing: border-box;
  margin-top: auto;          
}

.app-footer p {
  margin: 0;
}
