.now-playing {
  background-color: #3A3A3A;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 12px;
  width: 60%;
  margin: 30px auto;
  text-align: center;
}

.song-info {
  margin-bottom: 15px;
}

button {
  background-color: #00BFFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #FF8C00;
}
